@font-face {
  font-family: "iconfont"; /* Project id 3525673 */
  src: url('iconfont.woff2?t=1658300985010') format('woff2'),
       url('iconfont.woff?t=1658300985010') format('woff'),
       url('iconfont.ttf?t=1658300985010') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiyiji:before {
  content: "\e67d";
}

.icon-haofangtuo400iconfont2reshuiqi:before {
  content: "\e6fc";
}

.icon-meiqitianranqi:before {
  content: "\e60e";
}

.icon-yigui-hui:before {
  content: "\e60c";
}

.icon-dianshiji:before {
  content: "\e90a";
}

.icon-bingxiang:before {
  content: "\e90b";
}

.icon-kongtiao:before {
  content: "\e90d";
}

.icon-shafa:before {
  content: "\e61c";
}

.icon-Wi-Fi:before {
  content: "\ec4b";
}

.icon-nuanqi-:before {
  content: "\e60f";
}

.icon-sousuo1:before {
  content: "\e651";
}

.icon-xiajiantou:before {
  content: "\e615";
}

.icon-ditu:before {
  content: "\e8ad";
}

.icon-dituzhaofang:before {
  content: "\e603";
}

.icon-friend:before {
  content: "\e609";
}

.icon-fangwu:before {
  content: "\e669";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-31shouye:before {
  content: "\e600";
}

.icon-wode:before {
  content: "\e75e";
}

.icon-zixun:before {
  content: "\e62d";
}

